/************************************************/
/*                    COLORS                    */
/************************************************/
:root {
    --bg-color: #111111;
    --font-color: #fff;
    --accent-color: #CDAA7D;
}