/************************************************/
/*                    COLORS                    */
/************************************************/
:root {
    --bg-color: #111111;
    --font-color: #fff;
    --accent-color: #CDAA7D;
    --line-color: rgba(255, 255, 255, 0.5);
}