/************************************************/
/*                    HEADER                    */
/************************************************/
header {
    background-image: none;
    height: auto;
}

/************************************************/
/*                   CONTACTS                   */
/************************************************/
.contacts img {
    width: 100%;
    margin-bottom: 60px;
}

/************************************************/
/*                  MENU-PANEL                  */
/************************************************/
.menu-panel {
    display: flex;
    justify-content: space-between;
}
