/************************************************/
/*                    HEADER                    */
/************************************************/
header {
    background-image: none;
    height: auto;
}

/************************************************/
/*                    PRICES                    */
/************************************************/
.prices-list {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 134px;
    flex-wrap: wrap;
    justify-content: center;
}

.price-row:nth-child(even) {
    flex-flow: row-reverse;
    margin: 80px 0;
}

.card-price-list {
    display: flex;
    flex-flow: column;
    width: 585px;
    gap: 40px;
}

.price-card {
    width: 90%;
    border-bottom: 1px solid var(--line-color);
}

.price-card > p {
    margin-bottom: 20px;
}

.price-details {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: 155%/35.1px "Cormorant-Garamond-bold";
}
